body {
    background-image: url("https://img.goodfon.ru/wallpaper/big/6/1a/green-grass-summer-gazon-fon-trava-zelenaia.webp");
    font-family: "Roboto Condensed", sans-serif;
}

.btn-container{
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.img-main {
    width: 20vw;
    height: 20vw;
}

.hr-main {
    background-color: white;
    border: none;
    height: 0.3vh;
}

.p-main {
    font-size: 2vw;
    text-align: right;
    color: white;
    font-weight: bold;
}

.h1-main {
    font-size: 5vw;
    text-align: center;
    color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    align-items: center;
    font-size: 2vw;
    background-color: white;
    width: 90vw;
    margin: 0;
    padding-bottom: 3vh;
}

.h1-info {
    font-size: 3vw;
    text-align: center;
    color: red;
    font-weight: bold;
}


.hr-info {
    background-color: red;
    border: none;
    height: 0.3vh;
    width: 100%;
}

.img-info{
    width: 25vw;
    height: 20vw;
}

.p-info {
    text-align: center;
}

.a-info {
    color: red;
    font-weight: bold;
}

